# SPDX-FileCopyrightText: 2024 Ryan Cao <hello@ryanccn.dev>
#
# SPDX-License-Identifier: GPL-3.0-only

name: Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_call:
    inputs:
      disable-cache:
        type: boolean
        default: false

jobs:
  build:
    permissions:
      id-token: write
      attestations: write

    strategy:
      matrix:
        target:
          - aarch64-apple-darwin
          - x86_64-apple-darwin
          - aarch64-pc-windows-msvc
          - x86_64-pc-windows-msvc
        include:
          - target: aarch64-apple-darwin
            runner: macos-latest
          - target: x86_64-apple-darwin
            runner: macos-latest
          - target: aarch64-pc-windows-msvc
            runner: windows-latest
          - target: x86_64-pc-windows-msvc
            runner: windows-latest
      fail-fast: false

    runs-on: ${{ matrix.runner }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # ratchet:actions/checkout@v5

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@5d458579430fc14a04a08a1e7d3694f545e91ce6 # ratchet:dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          target: ${{ matrix.target }}

      - name: Setup Rust cache
        uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0 # ratchet:Swatinem/rust-cache@v2
        if: ${{ inputs.disable-cache != true }}

      - name: Install cargo-auditable
        uses: taiki-e/install-action@d6912b47771be2c443ec90dbb3d28e023987e782 # ratchet:taiki-e/install-action@v2
        with:
          tool: cargo-auditable

      - name: Build
        run: cargo auditable build --release --locked --target ${{ matrix.target }}
        env:
          CARGO_PROFILE_RELEASE_LTO: "fat"
          CARGO_PROFILE_RELEASE_CODEGEN_UNITS: "1"

      - name: Generate build provenance attestations
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # ratchet:actions/attest-build-provenance@v3
        if: ${{ github.event_name != 'pull_request' }}
        with:
          subject-path: |
            ./target/${{ matrix.target }}/release/spdx-gen
            ./target/${{ matrix.target }}/release/spdx-gen.exe

      - name: Upload artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # ratchet:actions/upload-artifact@v4
        with:
          if-no-files-found: "error"
          name: spdx-gen-${{ matrix.target }}
          path: |
            ./target/${{ matrix.target }}/release/spdx-gen
            ./target/${{ matrix.target }}/release/spdx-gen.exe

  linux-static:
    permissions:
      id-token: write
      attestations: write

    strategy:
      matrix:
        target:
          - "x86_64-unknown-linux-musl"
          - "aarch64-unknown-linux-musl"

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # ratchet:actions/checkout@v5

      - name: Install Nix
        uses: cachix/install-nix-action@a809471b5c7c913aa67bec8f459a11a0decc3fce # ratchet:cachix/install-nix-action@v31

      - name: Build
        run: nix build --fallback --print-build-logs '.#spdx-gen-static-${{ matrix.target }}'

      - name: Generate build provenance attestations
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # ratchet:actions/attest-build-provenance@v3
        if: ${{ github.event_name != 'pull_request' }}
        with:
          subject-path: ./result/bin/spdx-gen

      - name: Upload artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # ratchet:actions/upload-artifact@v4
        with:
          if-no-files-found: "error"
          name: spdx-gen-${{ matrix.target }}
          path: ./result/bin/spdx-gen
